
<h2 class="h2global fw-bold display-3 text-center" id="hard">
    Hard <span class="h2hardskills">Skills</span>
</h2>
<div class="allcontainer">
<div class="container hardskills">
    <div>
        <img class="w-50" src="{{ asset('uploads/images/symfony.svg') }}">
    </div>
    <div>
        <img class="php" src="{{ asset('uploads/images/php.svg') }}">
    </div>
    <div>
        <img class="w-50" src="{{ asset('uploads/images/sass.svg') }}">
    </div>
    <div>
        <img class="w-50" src="{{ asset('uploads/images/mysql.svg') }}">
    </div>
    <div>
        <img class="w-50" src="{{ asset('uploads/images/twig.svg') }}">
    </div>
    <div>
        <img class="w-50" src="{{ asset('uploads/images/bootstrap.svg') }}">
    </div>
    <div>
        <img class="html" src="{{ asset('uploads/images/html-1.svg') }}">
    </div>
    <div>
        <img class="html" src="{{ asset('uploads/images/css-3.svg') }}">
    </div>
    <div>
        <img class="w-50" src="{{ asset('uploads/images/git-bash.svg') }}">
    </div>
</div>
</div>
    <p class="precision text-center">Pour la petite précision, lors de l'utilisation de Symfony, j'ai
        appris à utiliser Encore, Yarn et Doctrine qui vont tous de pair avec Symfony
        Tout autant que les Hardskills, j'aspire à découvrir d'autre
        framework comme Laravel et même des CMS comme Drupal. Et pour la partie front-end,
        je suis interressé par plein de Toolkit. Comme nous n'en parlons jamais assez,
        tout au long de la formation j'ai utilisé la fameuse méthode AGILE.
    </p>
